.tz-gallery .card {
    padding: 0;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 4px;
    border: none;
    transition: 0.15s ease-in-out;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.06);
}

.tz-gallery .card:hover {
    transform: translateY(-10px) scale(1.02);
}
.card-custom{
    width:300px;
    /*height:300px;*/
}
/*img{*/
    /*width:100%;*/
    /*height:auto;*/
/*}*/

.list-group-item { word-wrap: break-word; }

body{
    background-color: #D3D3D3;
}

a:hover, a:visited, a:link, a:active
{
    text-decoration: none;
}
.custom-file-label {
    overflow: hidden;
}

ul.pagination li a.active {
    background-color: #4CAF50;
    color: white;
}

ul.pagination li a:hover:not(.active) {background-color: #ddd;}
